

{% block title %}Edit ZoneDeCollecte{% endblock %}

{% block body %}
    <h1>Edit ZoneDeCollecte</h1>

    {{ include('zone_de_collecte_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_zone_de_collecte_crud_index') }}">back to list</a>

    {{ include('zone_de_collecte_crud/_delete_form.html.twig') }}
{% endblock %}
