{% extends 'base.html.twig' %}

{% block title %}Vérification SMS{% endblock %}

{% block body %}
    <div class="container">
        <h1>Vérification requise</h1>
        <p>Un code de vérification a été envoyé au +21692636109</p>
        
        <form method="post">
            <div class="form-group">
                <label for="verification_code">Code de vérification</label>
                <input type="text" id="verification_code" name="verification_code" class="form-control" required>
            </div>
            
            <button type="submit" class="btn btn-primary">Vérifier</button>
        </form>
    </div>
{% endblock %}